/cmake-build-debug-mingw-1/.ninja_deps
/cmake-build-debug-mingw-1/.ninja_log
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CompilerIdC/a.exe
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CompilerIdC/a.out
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CompilerIdCXX/a.out
/cmake-build-debug-mingw-1/arena_1.svg
/cmake-build-debug-mingw-1/arena_2.svg
/cmake-build-debug-mingw-1/arena_3.svg
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/build.make
/cmake-build-debug-mingw-1/build.ninja
/cmake-build-debug-mingw-1/.cmake/api/v1/query/cache-v2
/cmake-build-debug-wsl/.cmake/api/v1/query/cache-v2
/cmake-build-debug-wsl/.cmake/api/v1/reply/cache-v2-5d7a6d1ade6623e46d48.json
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/cache-v2-df7fc2d670e891b4d13a.json
/cmake-build-debug-mingw-1/ceiling.bmp
/cmake-build-debug-wsl/CG2D.cbp
/cmake-build-debug-mingw-1/CG2D.exe
/cmake-build-debug-mingw-1/CMakeFiles/clion-Debug-MinGW 1-log.txt
/cmake-build-debug-wsl/CMakeFiles/clion-Debug-WSL-log.txt
/cmake-build-debug-mingw-1/CMakeFiles/clion-environment.txt
/cmake-build-debug-wsl/CMakeFiles/clion-environment.txt
/cmake-build-debug-mingw-1/CMakeFiles/cmake.check_cache
/cmake-build-debug-wsl/CMakeFiles/cmake.check_cache
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/cmake_clean.cmake
/cmake-build-debug-mingw-1/cmake_install.cmake
/cmake-build-debug-wsl/cmake_install.cmake
/cmake-build-debug-mingw-1/CMakeCache.txt
/cmake-build-debug-wsl/CMakeCache.txt
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeCCompiler.cmake
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CMakeCCompiler.cmake
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CMakeCXXCompiler.cmake
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-wsl/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug-mingw-1/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-wsl/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug-wsl/.cmake/api/v1/reply/cmakeFiles-v1-8d6dd1d4e5d34f960598.json
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/cmakeFiles-v1-16fe533a4202eafa92f2.json
/cmake-build-debug-mingw-1/CMakeFiles/CMakeOutput.log
/cmake-build-debug-wsl/CMakeFiles/CMakeOutput.log
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
/cmake-build-debug-mingw-1/CMakeFiles/3.24.2/CMakeSystem.cmake
/cmake-build-debug-wsl/CMakeFiles/3.24.3/CMakeSystem.cmake
/cmake-build-debug-mingw-1/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-wsl/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-wsl/.cmake/api/v1/reply/codemodel-v2-705f6e6130624d269818.json
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/codemodel-v2-c0604da1114ec97a12a2.json
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/compiler_depend.make
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/compiler_depend.ts
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/depend.make
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/DependInfo.cmake
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug-wsl/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/flags.make
/cmake-build-debug-mingw-1/floor.bmp
/cmake-build-debug-mingw-1/CMakeFiles/CG2D.dir/imageloader.cpp.obj
/cmake-build-debug-wsl/.cmake/api/v1/reply/index-2023-02-05T16-15-16-0272.json
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/index-2023-02-05T16-15-18-0024.json
/cmake-build-debug-mingw-1/Testing/Temporary/LastTest.log
/cmake-build-debug-wsl/Testing/Temporary/LastTest.log
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/link.txt
/cmake-build-debug-mingw-1/CMakeFiles/CG2D.dir/main.cpp.obj
/main-2
/cmake-build-debug-wsl/Makefile
/cmake-build-debug-wsl/CMakeFiles/Makefile.cmake
/cmake-build-debug-wsl/CMakeFiles/Makefile2
/cmake-build-debug-mingw-1/CMakeFiles/CG2D.dir/Player.cpp.obj
/cmake-build-debug-wsl/CMakeFiles/CG2D.dir/progress.make
/cmake-build-debug-wsl/CMakeFiles/progress.marks
/cmake-build-debug-mingw-1/CMakeFiles/rules.ninja
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/target-CG2D-Debug-65ae77f99fa895b7350c.json
/cmake-build-debug-wsl/.cmake/api/v1/reply/target-CG2D-Debug-cd1d5ddb5a3c31486100.json
/cmake-build-debug-mingw-1/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-wsl/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-mingw-1/CMakeFiles/CG2D.dir/tinyxml2.cpp.obj
/cmake-build-debug-mingw-1/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-wsl/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-mingw-1/.cmake/api/v1/reply/toolchains-v1-bd64ec29ab5c008a2d64.json
/cmake-build-debug-wsl/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
/cmake-build-debug-mingw-1/CMakeFiles/CG2D.dir/Transformations.cpp.obj
/cmake-build-debug-mingw-1/wall.bmp
